[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.0.4"
redis = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-mico = {git = "https://github.com/YE-Kits/flask_mico.git",ref = "master"}
requests = "*"
celery = "*"
pymysql = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
watchdog = "*"
pylint-flask-sqlalchemy = "*"

[requires]
python_version = "3.7.6"

[pipenv]
allow_prereleases = true
